

.left-sidebar {

    display: flex;
    flex-direction: column;

    .left-sidebar-header {

        background-color: $clr7;
        padding: 0 12px;
        margin-block-end: $panel-gap;
        border-radius: $panel-gap;

        img {
            width: 1.5rem;
            height: 1.5rem;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(2005%) contrast(100%);

        }

        ul {
            padding: 8px 12px;
            margin: 0;

            li {
                padding: 4px 0;
                font-weight: 700;

                a {
                    gap: 20px;
                    height: 40px;

                    .left-sidebar-home-icon,
                    .left-sidebar-search-icon {
                        filter: invert(100%);
                        margin: 0;
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }

    .side-bar-content {
        border-radius: $panel-gap;
        background-color: $clr7;
        flex-grow: 1;

        img {
            width: 1rem;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(2005%) contrast(100%);
            opacity: 70%;
        }

        ul {
            margin: 0;
            padding: 0 $panel-gap $panel-gap;
            height: 100%;
        }

        a {
            display: block;
            // padding: 0 $panel-gap;

            &:hover {
                border-radius: 6px;
                background-color: $clr12;
            }

            .active-class {
                border-radius: 6px;
                background-color: $clr10;
            }




            li {

                grid-template-columns: 48px auto;
                grid-template-rows: auto;
                column-gap: 12px;
                padding: 8px;
                // margin: 1rem;



                img,
                .svg-box {
                    border-radius: calc($panel-gap/2);
                    // background-color: #282828;



                    grid-row: 1/ span 2;
                    height: 48px;
                    width: 48px;

                    svg {
                        scale: .5;

                    }
                }

                header {
                    grid-column: 2;
                    font-weight: 600;
                }

                p {
                    display: flex;
                    gap: 0.3rem;
                    opacity: 70%;

                  

                    svg {
                        filter: invert(100%) sepia(0%) saturate(500%) hue-rotate(200deg) brightness(115%) contrast(400%);
                        width: .75rem;
                        height: .75rem;
                        fill: rgb(4, 153, 11);
                    }

                    .left-sidebar-pinned-icon {
                        width: 0.8125rem;
                        height: 0.8125rem;
                        margin-inline-end: 8px;
                    }

                    grid-row: 2;
                    font-size: 0.8125rem;
                    font-weight: 400;

                    .station-type {

                        &::after {
                            content: '\2022';
                            display: inline-block;
                            margin-left: 4px;
                        }
                    }
                }

            }

        }
    }
}

.sort-modal {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #282828;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 1rem;
    width: 160px;

    .modal-item {
        display: flex;
        align-items: center;
        position: relative;

        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            background: transparent;
            width: 20px;
            height: 20px;
            position: relative;
            cursor: pointer;
            opacity: 0;

            &:checked+label::after {
                content: '✔';
                position: absolute;
                right: 0;
                top: 0;
                color: green;
                font-size: 20px;
            }
        }

        label {
            margin-right: 24px;
            user-select: none;
            cursor: pointer;
            position: relative;
            padding: 0 24px 0 0;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                border-radius: 3px;
            }


        }
    }
}


.creation-and-toggle {
    justify-content: space-between;

    .left-sidebar-library-icon,
    .left-sidebar-plus-icon,
    .left-sidebar-right-arrow-icon,
    .left-sidebar-left-arrow-icon {
        filter: invert(100%);
        width: 24px;
        height: 24px;
    }

    // padding: .5rem;
    // padding: 8px 16px;
    padding: 10px 16px 8px;

}

.your-library {
    margin: 0;
    // padding: 12px;
    padding: 4px 8px;
    align-items: center;
    gap: 12px;


    svg {
        width: 1.5rem;
        height: 1.5rem;
    }


    span {
        width: 100px;
        font-weight: 700;
    }


}

.right-buttons {
    gap: 8px;
    align-items: center;
    // padding: 12px;

    svg {
        width: calc($panel-gap*2);
        height: calc($panel-gap*2);
    }

    & p {
        margin: 0;
    }

    .plus-icon-left,
    .arrow-icon-left {
        padding: $panel-gap;
    }
}

.show-create-modal {
    position: absolute;
    z-index: 10;
}

.side-bar-type-filter {
    width: 240px;
    overflow-x: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    button {
        background-color: $clr9-5;
        font-size: 0.8125rem;
        font-weight: 400;
        color: $clr6;
        border-radius: calc($panel-gap*2);
        // background-color: hsla(0, 0%, 100%, .07), rgba(0, 0, 0, 0.08);
    }

    .left-sidebar-scroll-left-icon,
    .left-sidebar-scroll-right-icon {
        filter: invert(100%);
        margin: 0;
        width: 16px;
        height: 16px;
    }
}

.search-sort-toggle-buttons {
    justify-content: space-between;
    align-items: center;

    padding: 2px 16px;


    svg {
        width: calc($panel-gap*2);
        height: calc($panel-gap*2);
    }

    button {
        background-color: transparent;
        padding: $panel-gap;
        position: relative;

    }

    .sort {
        display: flex;
        gap: 0.3rem;
    }






}


// Styles for the resizer
.resizer {
    cursor: col-resize;
    width: $panel-gap;
    height: 100%;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}