
    .left-sidebar-header {

        display: flex;
        flex-direction: column;
        background-color: $clr7;
        padding: 0 12px;
        margin-block-end: $panel-gap;
        border-radius: $panel-gap;

        a{
            opacity: 70%;
     

            .svg {
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(2005%) contrast(100%);
                opacity: 70%;
                cursor: pointer;
                height:1.5rem;
                width: 1.5rem;
            }

            &:hover{
                opacity: 1;
            }

    }

    }
