* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr1;
    color: $clr6;
}

html {

    font-family: 'Montserrat', sans-serif;
    color: $clr4;
}

body {
    background-color: $clr9;
    font-size: rem(16px);
    margin: 0;
}



section,
main,
footer {
    padding: 0px;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.svg{
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(70%) sepia(70%) saturate(0%) hue-rotate(173deg) brightness(150%) contrast(88%);
}


a:hover {
    text-decoration: none;
}

