.ganeres-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;
    padding: 0;
    overflow: hidden;

}


.ganeres-list li {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    height: 150px;
    width: 100%;
    border-radius: 0.3em;
    padding: 0.5em;
    font-size: 1.5rem;
    font-weight: bolder;
    overflow: hidden;
    color:$clr6;

    img {
        width: 7rem;
        height: 7rem;
        transform: rotate(25deg) translate(30%, -2%);
        place-self: end;
        overflow: hidden;
    }

}

.ganeres-list li:hover {
    opacity: 70%;
    cursor: pointer;
}











.search-hero {

    grid-template-columns: minmax(324px, 372px) 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    column-gap: 24px;

    .top-result-section {
        position: relative;

        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: 100%;

        background-color: #181818;
        border-radius: 8px;
        padding: 20px;
        transition: background-color .3s ease;

        .play-bg{
            position: absolute;
            grid-column: 2;
            background-color: $clr1;
            border-radius: 50%;
            height: 4rem;
            width: 4rem;
            opacity: 0;
            top:13rem;
            left:3rem;
            transition: top 0.3s ease, opacity 0.3s ease;
            box-shadow: 0px 8px 16px 0 rgba(25, 30, 15, 9.2);



            .play-button{
                height: 1.5rem;
                width: 1.5rem;
            }
        }

        &:hover {
            background-color: #282828;

            .play-bg{
                top:12rem;
                opacity: 1;
            }
        }


        .image-container {
            width: 92px;
            height: 92px;
            position: relative;
            overflow: hidden;

            .top-result-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .details-container {
            grid-column: 1;

            h3 {
                padding-bottom: calc($panel-gap/2);
            }
        }
    }




    .results-section {

        .search-result-list {
            padding: 0;
            margin: 0;

            li:first-child {
                display: none; // This will hide the first li child
            }


            .single-song-result {
                grid-template-columns: minmax(120px, auto) minmax(120px, auto);
                position: relative;

                &:hover {
                    background-color: $clr11;

                    .duration-add .add-button{
                       opacity: 1;
                       background-color: inherit;
                    }
                    .img-play-title-artist-container .song-image-play .play-button{
                        opacity: 1;
                    }
                }

                .modal{
                    position: absolute;
                    background-color: $clr10;
                    width: auto;
                    height:auto;
                    border-radius: 0.5rem;
                    right:2rem;
                    z-index: 5;
                    cursor: pointer;

                    p{
                        padding: 0.5rem;
                        padding-inline: 0.7rem;
                        border-bottom: 2px solid $clr8;
                       
                    }

                    li{
                        padding: 0.5rem;
                        border-bottom: 1px solid $clr8;
                    }

                    p,li{
                        &:hover{
                            background-color: $clr8;
                        }
                    }
                }

                .img-play-title-artist-container {

                    grid-template-columns: max-content auto;
                    height: 56px;
                    align-content: center;


                    .song-image-play {
                        width: 40px;
                        height: 40px;
                        position: relative;
                        overflow: hidden;
                        margin: 0 12px;
                        cursor: pointer;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                            border-radius: calc($panel-gap/2);
                        }


                        .play-button{
                            position: absolute;
                            height: 1rem;
                            width: 1rem;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50% , -50%);
                            opacity: 0;
                            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(2005%) contrast(100%);
                        }
                    }

                    .song-title-artist {

                        :last-child {
                            color: $clr13;
                        }
                    }
                }

                .duration-add {

                    grid-template-columns: max-content max-content;
                    justify-content: end;
                    align-items: center;
                    gap: 24px;
                    padding-right: 16px;
                    

                    .add-button {
                        background-color: inherit;
                        width: 1rem;
                        border: none;
                        cursor: pointer;
                        opacity: 0;
                        padding: 0;
                    }
                    img{
                        width: 1rem;
                        height: 1rem;
                        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(2005%) contrast(100%);
                       fill:green;

                    }

                }
            }
        }

    }

}

.fill{

    svg{
        path{
            width: 1rem;
            height: 1rem;
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(292deg) brightness(2005%) contrast(100%);
            fill:green;
        }
      
    
    }
  
}

.browse-all {
    margin: 16px 0;
}