@font-face {
    font-family: Monstserrat;
    font-weight: bold;
    src: url(/src/fonts/Montserrat/Montserrat-Bold.ttf)
}

@font-face {
    font-family: Monstserrat;
    font-weight: 400;
    src: url(/src/fonts/Montserrat/Montserrat-Regular.ttf)
}