// Colors
// Colors
$clr1: rgb(82, 212, 82);
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #b3b3b3;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #121212;
$clr8: #222;
$clr9: #000;
$clr9-5: #232323;
$clr10: #282828;
$clr11: #3E3E3E;
$clr12: #1a1a1a;
$clr13: #A7A7A7;
$clr14: #ec7f13;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;


// Gaps
$panel-gap: 8px;


// Variables for sizes
$sidebar-width: 240px;
$expanded-sidebar-width: 300px;
$sidebar-min-width: 200px;
$main-min-width: 400px;

$--min-col-width: 270px;
$--item-height: 48px;